#navbar {
	border-style: solid;
	border-width: 1px;
	height: 100px;
	width: 100vw;
	background-color: #343a40;
	display: inline-flex;
	align-items: center;
}

#filler { /* Used to separate the logo and the buttons on an inline-flex situation*/
	flex-grow: 1; /* No matter how big the buttons or the logo gets, the spacing will always be there*/
	background-color: blue;
	padding: 10px;
}

#navbar-logo {
	color: white;
	font-family: "Monospace";
	font-size: 20px;
	margin: 20px 20PX 20px 20px;

}


.button {
	font-family: "Monospace";
	text-decoration: none;
	height: 10px;
	background-color: #66e0ff;
	border: solid;
	border-color: #66e0ff;
	border-radius: 2px;
	padding: 15px 15px;
	font-size: 16px;
	margin: 10px 5px 10px 5px;
	transition-duration: 0.4s;
	cursor: pointer;
	color: black;
	line-height: 10px; /* Used to put the horizontal text where you want */
}

.button:hover {
  background-color: white;
}

.enveloper {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.centerContent {
	background-color: white;
	width: 1300px;
	height: 500px;
	align-self: center;
}

body {
	margin: 0px;
	background-color: #dcdcde;

}

p {
	margin: 0px;
}

a:visited {
	text-decoration: none;
	color: black;
}
